* {
	background-color: rgb(114, 114, 114);
	border-top-color: rgb(122, 122, 122);
	border-left-color: rgb(122, 122, 122);
	border-bottom-color: rgb(92, 92, 92);
	border-right-color: rgb(92, 92, 92);
	color: rgb(0, 0, 0);
}

QPlainTextEdit {
	background-color: rgb(164, 164, 164);
}

QLineEdit, QSpinBox {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(154, 154, 154), stop: 1.0 rgb(176, 176, 176));
	border-style: outset;
	border-width: 1px;
	border-radius: 5px;
	border-color: rgb(57, 57, 57);
}

QPushButton {
	background-color: qlineargradient(spread: pad, x1 : 0, y1 : 0, x2 : 0, y2 : 1, stop: 0 rgba(164, 164, 164, 255), stop: 1 rgba(138, 138, 138, 255));
	border-style: outset;
	border-width: 1px;
	border-radius: 5px;
	border-color: rgb(57, 57, 57);
	padding: 4px;
}

QToolButton {
	background-color: qlineargradient(spread: pad, x1 : 0, y1 : 0, x2 : 0, y2 : 1, stop: 0 rgba(164, 164, 164, 255), stop: 1 rgba(138, 138, 138, 255));
	border-style: outset;
	border-width: 1px;
	border-radius: 5px;
	border-color: rgb(57, 57, 57);
	padding: 0px;
}

QScrollBar:vertical {
	border: 0px solid rgb(57, 57, 57);
	background: rgb(57, 57, 57);
	width: 10px;
	margin: 0px 0px 0px 0px;
}
QScrollBar:horizontal {
	border: 0px solid rgb(57, 57, 57);
	background: rgb(57, 57, 57);
	height: 10px;
	margin: 0px 0px 0px 0px;
}
QScrollBar::handle {
	background-color: rgb(41, 41, 41);
	border-radius: 6px;
	border: 3px solid rgb(57, 57, 57);
}
QScrollBar::add-page, QScrollBar::sub-page {
	background: none;
}
QScrollBar::add-line, QScrollBar::sub-line {
	subcontrol-position: bottom;
	subcontrol-origin: margin;
	height: 0px;
	width: 0px;
}
