[submodule "src/external/glad"]
	path = src/external/glad
	url = https://github.com/Dav1dde/glad
[submodule "src/external/glfw"]
	path = src/external/glfw
	url = https://github.com/glfw/glfw
[submodule "src/external/nanovg"]
	path = src/external/nanovg
	url = https://github.com/memononen/nanovg
